:root {
  --clr-first-square: #0f5c05;
  --clr-second-square: #d33201;
  --clr-third-square: #e64b0e;
  --clr-fourth-square: #ecb314;

  --ff-primary:  Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: var(--ff-primary);
    font-size: 1.1rem;
    line-height: 1.5;
}

h1 {
    line-height: 1;
    margin-bottom: 1em;
}

header,
section {
    padding: 3rem auto;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 700;
}

.items-center {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.instructions {
    margin-top: .5em;
    margin-bottom: 2em;
}

.container {
    margin-inline: auto;
    width: min(90%, 65rem);
}


#first-square {
  background-color: var(--clr-first-square);
  width: 500px;
  height: 500px;
  position: relative;
}

#second-square {
  background-color: var(--clr-second-square);
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

#third-square {
  background-color: var(--clr-third-square);
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

#fourth-square {
  background-color: var(--clr-fourth-square);
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

